* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--toast-bg: #ffffff;
	--toast-color: #000000;
	--toast-icon-color: transparent;
	--close-toast-icon-color: #b3b3b3;
	--close-toast-icon-color-hover: #000000;
	--box-shadow: #e6e6e6;
	--progress-bar-width: 1;
	--progress-bar-bg-direction: to right;
	--progress-bar-first-bg-color: #6e45e1;
	--progress-bar-second-bg-color: #89d4cf;
	--left-or-right: 1; /* Default is right. Used only for bounce & slide animations */
	--current-toast-position: 0px;
	--opacity: 1;
	--drag: 0px;
}

#toasts-container {
	z-index: 999;
	position: fixed;
	width: 280px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

/* CONTAINER POSITIONING */

#toasts-container[data-position^="top"] {
	top: 0;
}

#toasts-container[data-position^="bottom"] {
	bottom: 0;
}

#toasts-container[data-position$="-right"] {
	right: 0;
}

#toasts-container[data-position$="-left"] {
	left: 0;
}

/* BASIC TOAST */

.toast {
	width: 90%;
	min-height: 63px;
	margin: auto;
	position: relative;
	display: block;
	background-color: var(--toast-bg);
	color: var(--toast-color);
	padding: 1.35em 1.55em;
	border-radius: 0.24em;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid rgb(173, 161, 161);
	box-shadow: 0px 1px 10px 0px var(--box-shadow),
		0 2px 15px 0 var(--box-shadow);
	transition: transform 200ms ease;
	transition: opacity 200ms ease;
	opacity: var(--opacity);
}

.close-toast-icon {
	position: absolute;
	top: 4px;
	right: 5px;
	fill: var(--close-toast-icon-color);
	transition: fill 200ms ease;
	cursor: pointer;
}

.close-toast-icon {
	position: absolute;
	top: 2px;
	right: 5px;
	max-width: 5%;
}

.close-toast-icon:hover {
	fill: var(--close-toast-icon-color-hover);
}

.toast-body {
	word-break: break-word;
	word-wrap: wrap;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.toast-body svg {
	max-width: 10%;
	fill: var(--toast-icon-color);
}

.toast-body p {
	max-width: 45ch;
}

/* TOAST WITH PROGRESS BAR */

.toast.progress::before {
	content: "";
	background-image: linear-gradient(
		var(--progress-bar-bg-direction),
		var(--progress-bar-first-bg-color),
		var(--progress-bar-second-bg-color)
	);
	width: calc(100% * var(--progress-bar-width));
	height: 3.6px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

/* TOAST WITH ANIMATIONS */

.toast.slide {
	transform: translateX(calc(120% * var(--left-or-right)));
	animation: slide 450ms forwards ease;
}

.toast.bounce {
	transform: translateX(calc(120% * var(--left-or-right)));
	animation: bounce 550ms forwards ease;
}

.toast.zoom {
	animation: zoom 450ms forwards ease;
}

/* TOAST ANIMATIONS */

@keyframes slide {
	from {
		transform: translateX(calc(100% * var(--left-or-right)));
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes bounce {
	0% {
		transform: translateX(calc(120% * var(--left-or-right)));
	}

	80% {
		transform: translateX(calc(30px * var(--left-or-right) * -1));
	} 

	100% {
		transform: translate(0, 0);
	}
}

@keyframes zoom {
	from {
		transform: scale(0, 0);
	}

	to {
		transform: scale(1, 1);
	}
}
